In [1]:
import pandas as pd

In [2]:
df = pd.read_excel("SKUS CLIENTES CONDENSADO Julio 2019.xlsx","COSTCO")
df

       CONCATENADO            UPC
0   ITEM 000506965  7501019038594
1   ITEM 000512336  7501019039393
2   ITEM 000512499  7501019039256
3   ITEM 000585578  7501036621103
4   ITEM 000623287  7501019052255
5   ITEM 000623449  7501036622004
6   ITEM 000632366  7501036622332
7   ITEM 000635521  7501019037702
8   ITEM 000635522  7501019037108
9   ITEM 000635899  7501036622486
10  ITEM 000640395  7501019052781
11  ITEM 000640396  7501019052798
12  ITEM 000644488  7501019053030
13  ITEM 000644489  7501019053023
14  ITEM 000645431  7501019038518
15  ITEM 000646016  7501036623162
16  ITEM 000646666  7501019053085
17  ITEM 000646667  7501019053092
18  ITEM 000646668  7501019053061
19  ITEM 000646669  7501019053078
20  ITEM 000646670  7501019053108
21  ITEM 000651951  7501019053351
22  ITEM 000651952  7501019053368
23  ITEM 000653118  7501019039126
24  ITEM 000653232  7501036623483
25  ITEM 000585071  7501019033469
26  ITEM 000593335  7501019034008
27  ITEM 000614531  7501019036798
28  ITEM 000554642  7501019052262
29  ITEM 000554641  7501019052279
30  ITEM 000635523  7501019037658
31  ITEM 000504072  7501019052309
32  ITEM 000504983  7501019052316

In [12]:
dfa = pd.read_excel("01SAMS_ENERO_EJEMPLO.xlsx","Hoja1",skiprows=1,header=1)
dfa.fillna(" ", inplace=True)
dfa

,Etiquetas de fila,Suma de Total Units Sold,Suma de Total Sell Dollars,Suma de Current On-Hand Qty,Suma de Current On-Order Qty,Unnamed: 5,Unnamed: 6,UPC DESCARGA,UPC 13,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,MONTLHY REPORTE DEL CLIENTE,Unnamed: 16,Unnamed: 17,Unnamed: 18
0,0750101903017,150185,1.19719e+07,76743,70175,,,750101903017,7501019030178,750101903017,,750101903017,,,,SAMS,IMPORTE,7.50104e+12,5.83565e+06
1,0750101903267,102971,5.06056e+06,40467,38720,,,750101903626,7501019036262,750101903267,7501019032677,750101903267,,,,,,7.50102e+12,4.2274e+06
2,0750101903372,56528,4.20176e+06,34325,22842,,,0750101903621 7501019036217,7501019036217,750101903372,7501019033728,750101903372,,,,,,7.50102e+12,1.43598e+06
3,0750101903621 7501019036217,42003,2.63023e+06,29915,16632,,,750101905099,7501019050992,0750101903621 7501019036217,7501019036217,0750101903621 7501019036217,,,,,,7.50102e+12,2.91545e+06
4,0750101903626,0,0,0,0,,,750103662200,7501036622004,750101903626,7501019036262,750101903626,,,,,,7.50102e+12,2.64037e+06
5,0750101903838,0,0,0,0,,,750101903267,7501019032677,750101903838,7501019038389,750101903838,,,,,,7.50104e+12,1.25028e+07
6,0750101903845,15,568.95,22,0,,,0750101905113 0750101905279,7501019051135,750101903845,7501019038457,750101903845,,,,,,7.50102e+12,1.21298e+07
7,0750101903910,11490,779443,2864,0,,,750101905114,7501019051142,750101903910,7501019039102,750101903910,,,,,,7.50102e+12,5.09191e+06
8,0750101905098,0,0,0,30,,,750101903372,7501019033728,750101905098,7501019050985,750101905098,,,,,,7.50104e+12,3.11293e+06
9,0750101905099,0,0,0,30,,,750101905098,7501019050985,750101905099,7501019050992,750101905099,,,,,,7.50102e+12,568.95
10,0750101905113 0750101905279,6789,1.43556e+06,6814,2604,,,0750103662095 1750103662109,7501036620956,0750101905113 0750101905279,7501019051135,0750101905113 0750101905279,,,,,,7.50102e+12,2.66269e+06
11,0750101905114,11276,2.90792e+06,7131,3492,,,750103662314,7501036623148,750101905114,7501019051142,750101905114,,,,,,7.50102e+12,3.73036e+06
12,0750101905288,9590,2.66215e+06,5803,3735,,,750101905288,7501019052880,750101905288,7501019052880,750101905288,,,,,,7.50104e+12,23785.1
13,0750101905289,12650,3.72591e+06,4720,6791,,,750101905289,7501019052897,750101905289,7501019052897,750101905289,,,,,,7.50102e+12,780873
14,0750101905305,0,0,0,0,,,750101903845,7501019038457,750101905305,7501019053054,750101905305,,,,,,,
15,0750103662095 1750103662109,34381,5.8156e+06,9544,16173,,,750101905305,7501019053054,0750103662095 1750103662109,7501036620956,0750103662095 1750103662109,,,,,,,
16,0750103662200,69623,1.2494e+07,27798,16308,,,750103662329,7501036623292,750103662200,7501036622004,750103662200,,,,,,,
17,0750103662314,19237,3.11082e+06,11423,6912,,,750101903910,7501019039102,750103662314,7501036623148,750103662314,,,,,,,
18,0750103662329,400,23785.1,93,0,,,750101903838,7501019038389,750103662329,7501036623292,750103662329,,,,,,,
19,Total general,527138,5.68202e+07,257662,204444,,,750101903684,7501019036842,,,,,,,,,,
20,,,,,,,,750101903775,7501019037757,,,,,,,,,,
21,,,,,,,,750103662238,7501036622387,,,,,,,,,,
22,,,,,,,,750101905113,7501019051135,,,,,,,,,,
23,,,,,,,,750101905113,7501019051135,,,,,,,,,,
24,,,,,,,,750101905114,7501019051142,,,,,,,,,,

In [6]:
dfb = pd.read_excel("mensual.xlsx")
dfb

FileNotFoundError: [Errno 2] No such file or directory: 'mensual.xlsx'