In [1]:
import pandas as pd
import numpy as np
from IPython.display import HTML
import os

In [2]:
path = os.getcwd()
files = os.listdir(path)
files

['.ipynb_checkpoints', '.~lock.3.csv#', '3.csv', 'formato_soriana.ipynb']

In [3]:
files_txt = [f for f in files if f[-3:] == 'csv']
files_txt

['3.csv']

In [4]:
solo_mes=[]
for f in files_txt:
    a=f.replace(".csv", "")
    solo_mes.append(a)
    print (a)
#solo_mes=files_txt.replace(".csv", "")
solo_mes

3

['3']

In [5]:
import chardet
def find_encoding(fname):
    r_file = open(fname, 'rb').read()
    result = chardet.detect(r_file)
    charenc = result['encoding']
    return charenc

#my_encoding = find_encoding('carga agosto/al super/al_super.csv')

#carga_al_super = pd.read_csv('carga agosto/al super/al_super.csv', delimiter=',', encoding=my_encoding)

#carga_al_super

In [6]:
df = pd.DataFrame()

    #xl= pd.ExcelFile(archivo)
    #sheetnames=xl.sheet_names
    #file=[pd.read_excel(file, sheet_names=s) for s in sheetnames]
    #df_archivo=pd.DataFrame(file[0])  

for f in files_txt:
    print(f)
    my_encoding = find_encoding(f)
    ndata = pd.read_csv(f, delimiter='!', names=["sku","vta","piezas","inv"], encoding=my_encoding)
    #formato=dia[["sku","vta","piezas","inv"]]
    #ndata.insert(0, "mes", f, True) 
    ndata.replace(' -   ','0')
    #zndata["piezas"].replace('-','0')
    ndata["tienda"] = 0
    ndata["ano"] = 2018
    ndata["mes"] = f.replace(".csv", "")
    ndata["compras_unidades"] = 0
    ndata["importe_compra"] = 0
    final=ndata[["tienda","sku","ano","mes","piezas","compras_unidades","inv","vta","importe_compra",]]
    df1 = final[:100]
    df2 = final[100:]
    #print (ndata[:100])
    #df1, df2 = final[:10, :], final[10:, :]
    df1.to_csv("a"+f, header=None, index=None, sep='!', mode='a')
    df2.to_csv("ab"+f, header=None, index=None, sep='!', mode='a')
    print(final)
    df=final
    #print (ndata.to_float().sum())

df

3.csv
     tienda            sku   ano mes        piezas  compras_unidades  \
0         0  7501019006081  2018   3   12,629.000                  0
1         0  7501019006647  2018   3   50,964.000                  0
2         0  7501019006319  2018   3   21,847.000                  0
3         0  7501019002069  2018   3    3,637.000                  0
4         0  7501019002007  2018   3    2,057.000                  0
..      ...            ...   ...  ..           ...               ...
244       0  7502004808239  2018   3           NaN                 0
245       0  7501019036712  2018   3           NaN                 0
246       0  7501019051531  2018   3           NaN                 0
247       0  7501019054686  2018   3           NaN                 0
248       0  7501019054884  2018   3           NaN                 0

              inv          vta  importe_compra
0     10,618.000    622993.023               0
1     44,867.000   1286831.455               0
2     29,508.000    587428.428               0
3      5,494.000     92176.318               0
4      2,423.000     45607.958               0
..            ...          ...             ...
244       -1.000         0.000               0
245        1.000         0.000               0
246        5.000         0.000               0
247        3.000         0.000               0
248        3.000       142.380               0

[249 rows x 9 columns]

,tienda,sku,ano,mes,piezas,compras_unidades,inv,vta,importe_compra
0,0,7501019006081,2018,3,"12,629.000",0,"10,618.000",622993.023,0
1,0,7501019006647,2018,3,"50,964.000",0,"44,867.000",1286831.455,0
2,0,7501019006319,2018,3,"21,847.000",0,"29,508.000",587428.428,0
3,0,7501019002069,2018,3,"3,637.000",0,"5,494.000",92176.318,0
4,0,7501019002007,2018,3,"2,057.000",0,"2,423.000",45607.958,0
...,...,...,...,...,...,...,...,...,...
244,0,7502004808239,2018,3,NaN,0,-1.000,0.000,0
245,0,7501019036712,2018,3,NaN,0,1.000,0.000,0
246,0,7501019051531,2018,3,NaN,0,5.000,0.000,0
247,0,7501019054686,2018,3,NaN,0,3.000,0.000,0
248,0,7501019054884,2018,3,NaN,0,3.000,142.380,0

In [7]:
#df.to_csv('abril19.txt', index=None, sep='!', mode='a')