In [1]:
import pandas as pd
import numpy as np
from IPython.display import HTML
import os

In [2]:
#base_mes = pd.read_excel("SELLOUT FRESKO.xlsx","FRESKO")
#base_mes

### LISTA DE RUTAS DE ARCHIVOS

In [3]:
#os.listdir("D:\\lo_que _hace_el_bi\\julio")

In [4]:
path = os.getcwd()
files = os.listdir(path)
files

['.ipynb_checkpoints',
 '19 HERMANOS.xlsx',
 'ABEJA.xlsx',
 'ANICETOS.xlsx',
 'AVILA.xlsx',
 'AZALEA.xlsx',
 'BARA.xlsx',
 'CAGSA.xlsx',
 'COMA.xlsx',
 'CORVI.xlsx',
 'DAPSA.xlsx',
 'DECASA.xlsx',
 'DIMUFLO.xlsx',
 'DIPEPSA.xlsx',
 'EL NIVEL.xlsx',
 'EL PARRAL.xlsx',
 'EL SITIO.xlsx',
 'ESTANZA.xlsx',
 'FUENTES.xlsx',
 'GARIS.xlsx',
 'GRUPO Z.xlsx',
 'GUTIERREZ.xlsx',
 'IBARRA.xlsx',
 'IDEA.xlsx',
 'JM.xlsx',
 'junta_excel-Copy1.ipynb',
 'LOO.xlsx',
 'MARES.xlsx',
 'MEDIMEX.xlsx',
 'MENDEZ serrano.xlsx',
 'MONTERREY.xlsx',
 'MORFIN.xlsx',
 'NETO.xlsx',
 'NIETO.xlsx',
 'ORIENTE DEL SUR DE PUEBLA.xlsx',
 'PROPASA.xlsx',
 'PUMA.xlsx',
 'QUANTUM.xlsx',
 'RIVERA.xlsx',
 'ROCHA.xlsx',
 'SAN LUIS.xlsx',
 'SANCHEZ.xlsx',
 'SARDINERO.xlsx',
 'SOLANA.xlsx',
 'SU SUPER.xlsx',
 'SUPER TIENDA DEL HOGAR.xlsx',
 'TIENDAS 3B.xlsx',
 'TREVInO.xlsx',
 'UNAM.xlsx',
 'VARGAS.xlsx',
 'WALDOS.xlsx',
 'Y GRIEGA.xlsx',
 'ZORRO.xlsx']

In [5]:
files_xlsx = [f for f in files if f[-4:] == 'xlsx']
files_xlsx

['19 HERMANOS.xlsx',
 'ABEJA.xlsx',
 'ANICETOS.xlsx',
 'AVILA.xlsx',
 'AZALEA.xlsx',
 'BARA.xlsx',
 'CAGSA.xlsx',
 'COMA.xlsx',
 'CORVI.xlsx',
 'DAPSA.xlsx',
 'DECASA.xlsx',
 'DIMUFLO.xlsx',
 'DIPEPSA.xlsx',
 'EL NIVEL.xlsx',
 'EL PARRAL.xlsx',
 'EL SITIO.xlsx',
 'ESTANZA.xlsx',
 'FUENTES.xlsx',
 'GARIS.xlsx',
 'GRUPO Z.xlsx',
 'GUTIERREZ.xlsx',
 'IBARRA.xlsx',
 'IDEA.xlsx',
 'JM.xlsx',
 'LOO.xlsx',
 'MARES.xlsx',
 'MEDIMEX.xlsx',
 'MENDEZ serrano.xlsx',
 'MONTERREY.xlsx',
 'MORFIN.xlsx',
 'NETO.xlsx',
 'NIETO.xlsx',
 'ORIENTE DEL SUR DE PUEBLA.xlsx',
 'PROPASA.xlsx',
 'PUMA.xlsx',
 'QUANTUM.xlsx',
 'RIVERA.xlsx',
 'ROCHA.xlsx',
 'SAN LUIS.xlsx',
 'SANCHEZ.xlsx',
 'SARDINERO.xlsx',
 'SOLANA.xlsx',
 'SU SUPER.xlsx',
 'SUPER TIENDA DEL HOGAR.xlsx',
 'TIENDAS 3B.xlsx',
 'TREVInO.xlsx',
 'UNAM.xlsx',
 'VARGAS.xlsx',
 'WALDOS.xlsx',
 'Y GRIEGA.xlsx',
 'ZORRO.xlsx']

In [6]:
df = pd.DataFrame()

    #xl= pd.ExcelFile(archivo)
    #sheetnames=xl.sheet_names
    #file=[pd.read_excel(file, sheet_names=s) for s in sheetnames]
    #df_archivo=pd.DataFrame(file[0])  

for f in files_xlsx:
    print(f)
    xl= pd.ExcelFile(f)
    sheetnames=xl.sheet_names
    file=[pd.read_excel(f, sheet_names=s) for s in sheetnames]
    data=pd.DataFrame(file[0])  
    data.insert(0, "ARCHIVO", f, True) 
    #data['ARCHIVO']=f
    #print(data)
    #data = pd.read_excel(f, 'Sheet1')
    df = df.append(data)
#df

19 HERMANOS.xlsx
ABEJA.xlsx
ANICETOS.xlsx
AVILA.xlsx
AZALEA.xlsx
BARA.xlsx
CAGSA.xlsx
COMA.xlsx
CORVI.xlsx
DAPSA.xlsx
DECASA.xlsx
DIMUFLO.xlsx
DIPEPSA.xlsx
EL NIVEL.xlsx
EL PARRAL.xlsx
EL SITIO.xlsx
ESTANZA.xlsx
FUENTES.xlsx
GARIS.xlsx
GRUPO Z.xlsx
GUTIERREZ.xlsx
IBARRA.xlsx
IDEA.xlsx
JM.xlsx
LOO.xlsx
MARES.xlsx
MEDIMEX.xlsx
MENDEZ serrano.xlsx
MONTERREY.xlsx
MORFIN.xlsx
NETO.xlsx
NIETO.xlsx
ORIENTE DEL SUR DE PUEBLA.xlsx
PROPASA.xlsx
PUMA.xlsx
QUANTUM.xlsx
RIVERA.xlsx
ROCHA.xlsx
SAN LUIS.xlsx
SANCHEZ.xlsx
SARDINERO.xlsx
SOLANA.xlsx
SU SUPER.xlsx
SUPER TIENDA DEL HOGAR.xlsx
TIENDAS 3B.xlsx
TREVInO.xlsx
UNAM.xlsx
VARGAS.xlsx
WALDOS.xlsx
Y GRIEGA.xlsx
ZORRO.xlsx

In [7]:
#df = pd.DataFrame()
#for f in files_xls:
#    data = pd.read_excel(f, 'Sheet1')
#    df = df.append(data)
df

,ARCHIVO,Clave 8000,UPC,Sell out TRP,Sell out Importe,Inventario TRP,MES,AÑO,CLUIENTE
0,19 HERMANOS.xlsx,8000218,7501036619233,4148.0000,1.359964e+06,2711.0000,12,2019,19 HERMANOS
1,19 HERMANOS.xlsx,8000218,7501036622509,28.0000,3.695384e+03,0.0000,12,2019,19 HERMANOS
2,19 HERMANOS.xlsx,8000218,7501019035548,532.0000,9.055063e+04,392.0000,12,2019,19 HERMANOS
3,19 HERMANOS.xlsx,8000218,7501036622042,2.0000,5.080536e+02,395.0000,12,2019,19 HERMANOS
4,19 HERMANOS.xlsx,8000218,7501036622448,3.0000,3.870336e+02,220.0000,12,2019,19 HERMANOS
...,...,...,...,...,...,...,...,...,...
20,ZORRO.xlsx,8000004,7501019035548,2342.5857,0.000000e+00,1186.4142,12,2019,ZORRO
21,ZORRO.xlsx,8000004,7501036622042,5038.3427,0.000000e+00,3444.0806,12,2019,ZORRO
22,ZORRO.xlsx,8000004,7501036619233,20761.4000,0.000000e+00,7314.2500,12,2019,ZORRO
23,ZORRO.xlsx,8000004,7501036623469,9160.9000,0.000000e+00,3162.7000,12,2019,ZORRO
24,ZORRO.xlsx,8000004,7501019037450,259.4211,NaN,548.4421,12,2019,ZORRO

In [8]:
#df["Clave 8000"]
ocho_miles=df.groupby("ARCHIVO")
ocho_miles.sum()

,Clave 8000,UPC,Sell out TRP,Sell out Importe,Inventario TRP,MES,AÑO
ARCHIVO,,,,,,,
19 HERMANOS.xlsx,296008066,277537862228786,8898.999500,2.401349e+06,15590.000000,444,74703
ABEJA.xlsx,368010074,345047015894267,3426.004500,9.232725e+05,6558.448300,552,92874
ANICETOS.xlsx,696015381,652588849015489,47948.497000,0.000000e+00,52655.849400,1044,175653
AVILA.xlsx,5832336290,5468245561225086,2305.270000,0.000000e+00,0.000000,8748,1471851
AZALEA.xlsx,64004408,60016271733490,186469.687500,4.288746e+07,0.000000,96,16152
BARA.xlsx,88006050,82511226922642,5022.905357,1.031528e+06,0.000000,132,22209
CAGSA.xlsx,832032656,780106278501206,18900.290000,4.692719e+06,13044.000000,1248,209976
COMA.xlsx,1448012670,1350734070064301,30480.000000,0.000000e+00,33658.000000,2172,365439
CORVI.xlsx,18144466674,17010685319190288,247452.657236,0.000000e+00,163024.259409,27216,4579092
DAPSA.xlsx,584019756,547574600190630,3704.000000,0.000000e+00,3048.000000,876,147387
DECASA.xlsx,544019856,510069487751696,6352.000000,0.000000e+00,6969.000000,816,137292
DIMUFLO.xlsx,352009900,330044889648705,5885.490000,1.104050e+06,5806.840000,528,88836
DIPEPSA.xlsx,1456057694,1358235106688814,5296.892857,0.000000e+00,6828.204167,2184,367458
EL NIVEL.xlsx,344021199,322544011710344,2734.000000,0.000000e+00,2227.000000,516,86817
EL PARRAL.xlsx,960052725,900123039883780,2840.720600,5.667635e+05,5391.522530,1440,242280
EL SITIO.xlsx,248006882,232531695445256,2484.000000,0.000000e+00,3140.000000,372,62589
ESTANZA.xlsx,4600209238,4313089021197007,10161.939683,2.066360e+06,9818.216130,6900,1160925
FUENTES.xlsx,1192001937,1117593568354170,4346.979000,0.000000e+00,7383.093285,1788,300831
GARIS.xlsx,1200000900,1125094604977660,82392.000000,0.000000e+00,143113.000000,1800,302850
GRUPO Z.xlsx,123829697807,116096330049726592,75603.560000,1.700378e+07,159966.050000,185736,31250082
GUTIERREZ.xlsx,12768652596,11971633395592216,21670.180000,0.000000e+00,13949.100000,19152,3222324
IBARRA.xlsx,7392281424,6885224957862986,76614.988900,1.642527e+07,79355.498400,11088,1865556
IDEA.xlsx,1448057739,1350734070064140,1577.000000,0.000000e+00,1294.000000,2172,365439
JM.xlsx,960058224,900122723351725,2918.140300,5.758397e+05,1323.080000,1440,242280
LOO.xlsx,1512060480,1410742292703296,334.000000,0.000000e+00,329.000000,2268,381591
MARES.xlsx,376000047,352548105400842,21442.285119,0.000000e+00,27176.560100,564,94893
MEDIMEX.xlsx,216013365,202527513469333,5273.000000,1.193124e+06,6416.000000,324,54513
MENDEZ serrano.xlsx,552020424,517510562678784,2385.000000,0.000000e+00,2846.000000,828,139311
MONTERREY.xlsx,97766376400,91662157934100032,20816.940000,4.229695e+06,33011.930000,146640,24672180
MORFIN.xlsx,1600044800,1500204492586894,2047.948413,5.599619e+05,10999.175305,2400,403800
NETO.xlsx,80005410,75010243055023,42721.105357,7.264547e+06,0.000000,120,20190
NIETO.xlsx,1192001490,1117593568354170,2010.000000,0.000000e+00,1500.000000,1788,300831
ORIENTE DEL SUR DE PUEBLA.xlsx,1192001788,1117593568354170,6120.000000,0.000000e+00,22638.000000,1788,300831
PROPASA.xlsx,1456020930,1358235106687145,16575.000000,0.000000e+00,16906.000000,2184,367458
PUMA.xlsx,192000072,180024562160288,2405.130000,0.000000e+00,3219.000000,288,48456
QUANTUM.xlsx,440024970,412496190310509,23877.000000,0.000000e+00,0.000000,660,111045
RIVERA.xlsx,1256000314,1178628008442619,41200.384200,0.000000e+00,77113.122242,1884,316983
ROCHA.xlsx,136009384,127517376186276,534.000000,0.000000e+00,738.000000,204,34323
SAN LUIS.xlsx,1464058743,1365736143305800,2717.000000,0.000000e+00,8091.000000,2196,369477
SANCHEZ.xlsx,1488002790,1388238722737784,38267.000000,0.000000e+00,71159.900000,2232,375534
SARDINERO.xlsx,40002735,37505130295937,974.000000,0.000000e+00,0.000000,60,10095
SOLANA.xlsx,1192001341,1117593568354170,15660.000000,0.000000e+00,35636.000000,1788,300831
SU SUPER.xlsx,488019215,457562459681512,2781.650000,8.221019e+05,0.000000,732,123159
SUPER TIENDA DEL HOGAR.xlsx,1456058604,1358235106686871,1559.000000,0.000000e+00,3260.000000,2184,367458
TIENDAS 3B.xlsx,120008145,112515355838953,79235.485119,1.825177e+07,0.000000,180,30285
TREVInO.xlsx,1560069405,1462699167070700,4441.100600,8.579397e+05,5280.888442,2340,393705
UNAM.xlsx,568038624,532572650648916,2456.173611,1.022337e+06,0.000000,852,143349
VARGAS.xlsx,280000245,262475844861091,7881.960000,0.000000e+00,11374.340000,420,70665
WALDOS.xlsx,192013080,180024615076276,11039.056944,2.627630e+06,0.000000,288,48456
Y GRIEGA.xlsx,1512019845,1410742292703296,12708.000000,0.000000e+00,19093.000000,2268,381591
ZORRO.xlsx,200000100,187525581221046,72349.906100,0.000000e+00,35772.593500,300,50475

In [17]:
dfo=ocho_miles.sum()
#dfo.reset_index()
dic=dfo[["Sell out TRP","Sell out Importe"]].round(2)
dic

                                Sell out TRP  Sell out Importe
ARCHIVO
19 HERMANOS.xlsx                     8899.00        2401349.11
ABEJA.xlsx                           3426.00         923272.49
ANICETOS.xlsx                       47948.50              0.00
AVILA.xlsx                           2305.27              0.00
AZALEA.xlsx                        186469.69       42887458.95
BARA.xlsx                            5022.91        1031528.00
CAGSA.xlsx                          18900.29        4692718.53
COMA.xlsx                           30480.00              0.00
CORVI.xlsx                         247452.66              0.00
DAPSA.xlsx                           3704.00              0.00
DECASA.xlsx                          6352.00              0.00
DIMUFLO.xlsx                         5885.49        1104050.48
DIPEPSA.xlsx                         5296.89              0.00
EL NIVEL.xlsx                        2734.00              0.00
EL PARRAL.xlsx                       2840.72         566763.46
EL SITIO.xlsx                        2484.00              0.00
ESTANZA.xlsx                        10161.94        2066359.74
FUENTES.xlsx                         4346.98              0.00
GARIS.xlsx                          82392.00              0.00
GRUPO Z.xlsx                        75603.56       17003784.70
GUTIERREZ.xlsx                      21670.18              0.00
IBARRA.xlsx                         76614.99       16425270.25
IDEA.xlsx                            1577.00              0.00
JM.xlsx                              2918.14         575839.69
LOO.xlsx                              334.00              0.00
MARES.xlsx                          21442.29              0.00
MEDIMEX.xlsx                         5273.00        1193124.15
MENDEZ serrano.xlsx                  2385.00              0.00
MONTERREY.xlsx                      20816.94        4229694.85
MORFIN.xlsx                          2047.95         559961.85
NETO.xlsx                           42721.11        7264547.47
NIETO.xlsx                           2010.00              0.00
ORIENTE DEL SUR DE PUEBLA.xlsx       6120.00              0.00
PROPASA.xlsx                        16575.00              0.00
PUMA.xlsx                            2405.13              0.00
QUANTUM.xlsx                        23877.00              0.00
RIVERA.xlsx                         41200.38              0.00
ROCHA.xlsx                            534.00              0.00
SAN LUIS.xlsx                        2717.00              0.00
SANCHEZ.xlsx                        38267.00              0.00
SARDINERO.xlsx                        974.00              0.00
SOLANA.xlsx                         15660.00              0.00
SU SUPER.xlsx                        2781.65         822101.85
SUPER TIENDA DEL HOGAR.xlsx          1559.00              0.00
TIENDAS 3B.xlsx                     79235.49       18251774.00
TREVInO.xlsx                         4441.10         857939.72
UNAM.xlsx                            2456.17        1022337.13
VARGAS.xlsx                          7881.96              0.00
WALDOS.xlsx                         11039.06        2627629.56
Y GRIEGA.xlsx                       12708.00              0.00
ZORRO.xlsx                          72349.91              0.00

In [18]:
dic.to_excel("sumadic_mayoristas.xlsx", sheet_name="mayoristas" )

In [ ]:
ocho_miles=df.groupby("Clave 8000")
for ochomil, data_o in ocho_miles:
    print("ochomil:",ochomil)
    #print("\n")
    #print("data:",data_a) 
    #print(data_o['Sell out TRP']) #= pd.to_numeric(ochomil['Sell out TRP'], errors='coerce')
    #df['Gross'] = pd.to_numeric(df['Gross'], errors='coerce')
    #print(df['Gross'].sum())
   #data_o['Sell out TRP'].sum()
    #data_o['Sell out Importe'].sum()
    #data_o['Inventario TRP'].sum()
    print(data_o['Sell out TRP'].sum())
    print(data_o['Sell out Importe'].sum())
    print(data_o['Inventario TRP'].sum())
    print(data_o["Clave 8000"].count())
    #.astype(float)
    print("\n")
    #Sell out TRP
    #Sell out Importe
    #Inventario TRP

In [ ]:
ocho_miles=df.groupby("Clave 8000")
for ochomil, data_o in ocho_miles:
    print("ochomil:",ochomil)
    print(data_o['Sell out TRP'].sum())
    print(data_o['Sell out Importe'].sum())
    print(data_o['Inventario TRP'].sum())
    print(data_o["Clave 8000"].count())
    print("\n")

In [ ]:
xl= pd.ExcelFile('inv\Inventario MX Jul Ago.xlsx')
sheetnames=xl.sheet_names
file=[pd.read_excel(xl, sheet_names=s) for s in sheetnames]
data=pd.DataFrame(file[0])  
#data.insert(0, "ARCHIVO", f, True) 
#Sell Out MX Jul Ago
#D_FECHA
data

In [ ]:
file2 = open("sell_out_julio_archivos.txt","w") 

file2.write('UPC,SELL_OUT_TRP_A,SELL_OUT_IMPORTE_A,INVENTARIO_TRP_A,#_REGISTROS\n')

ocho_miles=df.groupby("Clave 8000")
for ochomil, data_o in ocho_miles:
    sell_out_trp=data_o['Sell out TRP'].sum()
    sell_out_importe=data_o['Sell out Importe'].sum()
    inventario_trp=data_o['Inventario TRP'].sum()
    count=data_o["Clave 8000"].count()
    print("ochomil:",ochomil)
    print(sell_out_trp)
    print(sell_out_importe)
    print(inventario_trp)
    print(count)
    #print("ochomil:",ochomil)
    #print(data_o['Sell out TRP'].sum())
    #print(data_o['Sell out Importe'].sum())
    #print(data_o['Inventario TRP'].sum())
    #print(data_o["Clave 8000"].count())
    print("\n")
    file2.write(str(ochomil)+","+str(sell_out_trp)+","+str(sell_out_importe)+","+str(inventario_trp)+","+str(count))
    file2.write("\n") 
file2.close()

In [ ]:
import chardet
def find_encoding(fname):
    r_file = open(fname, 'rb').read()
    result = chardet.detect(r_file)
    charenc = result['encoding']
    return charenc

my_encoding = find_encoding('sell_out_julio_archivos.txt')

lee = pd.read_csv('sell_out_julio_archivos.txt', delimiter=',' , encoding=my_encoding)
lee

In [ ]:
julio=data[data['D_FECHA']=="2019-07-01"]

In [ ]:
julio

In [ ]:
ocho_base=julio[julio["N_CLIENTE_SO"]<9000000]
ocho_base

In [ ]:
ocho_base_f=ocho_base.groupby("N_CLIENTE_SO")
for ochomil_b, data_b in ocho_base_f:
    print("ochomil:",ochomil_b)
    print(data_b['F_CORRUGADOS'].sum())
    print(data_b['F_PAQUETES'].sum())
    #print(data_b['F_VENTA_NETA'].sum())
    print(data_b["F_PIEZAS"].count())
    print("\n")

In [ ]:
''''ocho_base_f=ocho_base.groupby("N_CLIENTE_SO")
for ochomil_b, data_b in ocho_base_f:
    print("ochomil:",ochomil_b)
    print(data_b['F_CORRUGADOS'].sum())
    print(data_b['F_PAQUETES'].sum())
    print(data_b['F_VENTA_NETA'].sum())
    print(data_b["N_CLIENTE_SO"].count())
    print("\n")
    '''

file3 = open("sell_out_julio_base.txt","w") 

file3.write('UPC,F_CORRUGADOS,F_PIEZAS,F_PAQUETES,#_REGISTROS\n')

ocho_base_f=ocho_base.groupby("N_CLIENTE_SO")
for ochomil_b, data_b_b in ocho_base_f:
    sell_out_trp=data_b_b['F_CORRUGADOS'].sum()
    sell_out_importe=data_b_b['F_PIEZAS'].sum()
    sell_out_paquetes=data_b_b['F_PAQUETES'].sum()
    count=data_b_b["N_CLIENTE_SO"].count()
    #print("ochomil:",ochomil_b)
    #print(sell_out_trp)
    #print(sell_out_importe)
    #print(sell_out_trp)
    #print(count)
    #print("ochomil:",ochomil)
    #print(data_o['Sell out TRP'].sum())
    #print(data_o['Sell out Importe'].sum())
    #print(data_o['Inventario TRP'].sum())
    #print(data_o["Clave 8000"].count())
    #print("\n")
    file3.write(str(ochomil_b)+","+str(sell_out_trp)+","+str(sell_out_importe)+","+str(sell_out_paquetes)+","+str(count))
    file3.write("\n") 
file3.close()

In [ ]:
import chardet
def find_encoding(fname):
    r_file = open(fname, 'rb').read()
    result = chardet.detect(r_file)
    charenc = result['encoding']
    return charenc

my_encoding = find_encoding('sell_out_julio_base.txt')

lee_base = pd.read_csv('sell_out_julio_base.txt', delimiter=',' , encoding=my_encoding)
lee_base

In [ ]:
#df1['Region'] = df1.User_id
lee.merge(lee_base, on='UPC')

In [ ]:
#lee.merge(lee, y = lee_base, by = "UPC", all = TRUE)
#lee.merge(lee_base, on='UPC')
faltantes=pd.merge(lee_base, lee, on='UPC', how='outer')

In [ ]:
faltantes

In [ ]:
faltantes.to_excel("faltantes.xlsx", sheet_name="faltantes" )